/* 根据需要调整选择器名称 */
.date-cell.has-incomplete-items {
    background-color: rgba(255, 0, 0, 0.1); /* 轻微的红色背景表示有未完成项目 */
}

.incomplete-item {
    background-color: red; /* 或者任何你希望使用的红色调 */
    color: white; /* 确保文字颜色与背景形成对比 */
}

.date-cell p {
    text-align: center;
}

.date-cell li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text p {
    text-align: center;
    margin-bottom: 10px;
}

.center-text p:last-child {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.notes-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.notes-month section {
    margin-bottom: 5px;
}